@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cfd8dc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b0bec5;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #90a4ae;
}

table td {
  vertical-align: top;
}

#receipt-content {
  max-height: 70vh;
}

@media print {
  .hide-print {
    display: none !important;
  }
  .print-area {
    display: block;
  }
}

@font-face {
  font-family: "Oswal";
  src: url("/fonts/Oswald-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Oswal";
  src: url("/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Oswal";
  src: url("/fonts/Oswald-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
